@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@300;400;600&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to left, #30c4cc, #004aad);
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600 !important;
}

.login-container {
  max-width: 500px;
  width: 20%;
}

@media (max-width: 992px) {

  .login-container {
    width: 90%;
  }
}



